<template>

    <!-- <img src="./micah-williams-436268-unsplash.jpg" class="img-responsive" /> -->

    <form id="login" class="col-6 card text-center" @submit.prevent="onSubmit">
        
        <h1 class="card-title">Login</h1>
        
        <div class="card-body">
            <input type="text" name="username" v-model="input.username" placeholder="Username" class="form-control" />
            <input type="password" name="password" v-model="input.password" placeholder="Password" class="form-control" />
            
            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
            <router-link to="/register" class="btn btn-link">Register</router-link>
        </div>
    </form>

</template>

<script>

    import {mapActions} from 'vuex';

    export default {
        name: 'login',
        data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
        },
        methods: {
            ...mapActions['account', ['login']],
            onSubmit(e) {
                let {username, password} = this.input

                if (username && password) {
                    this.$store.dispatch('account/login', {username, password})
                }
            }
        }
    }

</script>

<style>

    #login {
        margin: 15% auto 0;
    }

</style>
