<template>
	
	<form id="register" class="col-6 card text-center" @submit.prevent="onSubmit">

		<h1 class="card-title">Register</h1>

		<div class="card-body">
			<input type="text" name="username" v-model="input.username" placeholder="Username" class="form-control" />
            <input type="password" name="password" v-model="input.password" placeholder="Password" class="form-control" />

			<button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
			<router-link to="/login" class="btn btn-link">Login</router-link>
		</div>

	</form>

</template>

<script>

	import { mapActions } from 'vuex'

	export default {
		name: 'register',
		data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
		},
		methods: {
			...mapActions['account', ['register']],
			onSubmit(e) {
                let {username, password} = this.input

                if (username && password) {
                    this.$store.dispatch('account/register', {username, password})
                }
            }
		}
	}

</script>

<style>

	#register {
        margin: 15% auto 0;
    }

</style>
