<template>

    <div>

        <div class="container-fluid">

            <div class="row content">
                <router-view></router-view>
            </div>

        </div>

    </div>

</template>

<script>

    export default {
        data: function() {
            return {
                title: ''
            };
        },

    }

</script>
